<h3>Czym jest aplikacja Moje Rekrutacje i do czego służy?</h3>
<p>Jest to aplikacja stworzona by pomóc zarządzać procesem poszukiwania pracy.</p>
<p>Gdy szukasz pracy, wysyłasz kilkanaście lub nawet kilkadziesiąt ofert do różnych firm. Procesy rekrutacyjne trwają od kilku tygodni do nawet kilku miesięcy, w którym to czasie ogłoszenia, 
    na które aplikowałeś, znikają z sieci, i nie masz możliwości podglądu oferty (na przykład po to, żeby się lepiej przygotować do rozmowy, albo chociaż przypomnieć sobie, gdzie właściwie składałeś swoją ofertę). </p>
<p>Niniejsza aplikacja powstała, by zmienić ten stan rzeczy.</p>

<h3>Jak korzystać z aplikacji?</h3>
<p>Gdy wysyłasz CV na jakieś stanowisko, wprowadź jego dane do aplikacji (takie jak nazwa stanowiska, firma która rekrutuje, czy opis wymagań i benefitów). 
    Dzięki temu będziesz mieć komplet informacji w jednym miejscu. </p>
<p>Aplikacja oferuje też kilka opcji do łatwiejszego zarządzania swoimi aktualnymi rekrutacjami:</p>
<ul>
    <li>Możesz dodawać i edytować oferty, na które aplikowałeś</li>
    <li>Możesz nadawać ofertom statusy, dzięki czemu na pierwszy rzut oka będzie wiadomo, na jakim etapie jest rekrutacja</li>
    <li>Możesz je sortować według statusu</li>
    <li>Możesz dodawać do nich notatki</li>
    <li>Możesz je przeszukiwać</li>
    <li>Możesz ofertę zarchiwizować (np w przypadku, gdy dostałeś odpowiedź odmowną; do ofert zarchiwizowanych nadal masz pełny wgląd!) </li>
    <li>Możesz robić sobie adnotacje odnośnie firm, do których aplikowałeś</li>
    <li>Możesz nawet zaimportować informacje o swoich rekrutacjach z pliku .xlsx (zrobisz to wybierając Opcje w górnym menu, po zalogowaniu się) </li>
</ul>
<p>Uwaga: usuwanie notatek, adnotacji i ofert jest nieodwracalne.</p>
<p>Ofertę usunąć można z poziomu archiwum, a adnotacje podczas edycji.</p>